<ion-header no-border>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">Vente en ligne via TsenaMalagasy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs padding-top>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="paraMarchand/seconnecter">
      <ion-icon name="log-in" color="primary"></ion-icon>
      <ion-label color="primary">Se connecter</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="paraMarchand/actualites">
      <ion-icon name="walk" color="success"></ion-icon>
      <ion-label color="tertiary">Mes actualités</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="paraMarchand/creercompte">
      <ion-icon name="person-add" color="primary"></ion-icon>
     <ion-label color="primary">Nouveau compte</ion-label> 
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>